data/xml-schema/CommercialRealEstate-Gastronomy.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.invalid/tns"
           xmlns:gis="http://example.invalid/gis"
           xmlns:ns1="http://example.invalid/ns1">

    <xs:complexType name="Gastronomy">

        <xs:complexContent>

            <xs:extension base="tns:RealEstateForList">

                <xs:sequence>

                    <!-- Basiselemente -->

                    <xs:element minOccurs="0" name="externalId" type="xs:string"/>

                    <xs:element name="title" type="xs:string"/>

                    <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>

                    <xs:element minOccurs="0" name="lastModificationDate" type="xs:dateTime"/>

                    <xs:element name="address" type="tns:Wgs84Address"/>

                    <xs:element minOccurs="0" name="apiSearchData" type="tns:ApiSearchData"/>

                    <xs:element minOccurs="0" name="groupNumber" type="xs:string"/>

                    <xs:element minOccurs="0" name="descriptionNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="furnishingNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="locationNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="otherNote" type="xs:string"/>

                    <xs:element default="false" name="showAddress" type="xs:boolean"/>

                    <!-- Immobilientyp spezifische Elemente -->

                    <xs:element name="gastronomyType" type="ns1:GastronomyType"/>

                    <xs:element minOccurs="0" name="listed" type="ns1:YesNotApplicableType"/>

                    <xs:element minOccurs="0" name="lift" type="ns1:YesNotApplicableType"/>

                    <xs:element minOccurs="0" name="terrace" type="ns1:YesNotApplicableType"/>

                    <xs:element minOccurs="0" name="numberSeats" type="xs:int"/>

                    <xs:element minOccurs="0" name="numberBeds" type="xs:int"/>

                    <xs:element minOccurs="0" name="cellar" type="ns1:YesNotApplicableType"/>

                    <xs:element minOccurs="0" name="deposit" type="xs:string"/>

                    <xs:element name="commercializationType" type="ns1:CommercializationType"/>

                    <xs:element name="price" type="ns1:Price"/>

                    <xs:element minOccurs="0" name="calculatedPrice" type="ns1:Price"/>

                    <xs:element name="totalFloorSpace" type="xs:double"/>

                    <xs:element minOccurs="0" name="netFloorSpace" type="xs:double"/>

                    <xs:element minOccurs="0" name="minDivisible" type="xs:double"/>

                    <xs:element name="courtage" type="ns1:CourtageInfo"/>

                    <xs:element minOccurs="0" name="distanceToMRS" type="xs:int"/>

                    <xs:element minOccurs="0" name="distanceToFM" type="xs:int"/>

                    <xs:element minOccurs="0" name="distanceToPT" type="xs:int"/>

                    <xs:element minOccurs="0" name="distanceToAirport" type="xs:int"/>

                    <xs:element minOccurs="0" name="condition" type="ns1:RealEstateCondition"/>

                    <xs:element minOccurs="0" name="numberOfParkingSpaces" type="xs:int"/>

                    <xs:element minOccurs="0" name="parkingSpacePrice" type="xs:double"/>

                    <xs:element minOccurs="0" name="lastRefurbishment" type="xs:int"/>

                    <xs:element minOccurs="0" name="interiorQuality" type="ns1:InteriorQuality"/>

                    <xs:element minOccurs="0" name="constructionYear" type="xs:int"/>

                    <xs:element minOccurs="0" name="freeFrom" type="xs:string"/>

                    <xs:element minOccurs="0" name="heatingType" type="ns1:HeatingType"/>

                    <xs:element minOccurs="0" name="firingTypes" type="ns1:FiringTypes"/>

                    <xs:element minOccurs="0" name="thermalCharacteristic" type="xs:double"/>

                    <xs:element minOccurs="0" name="energyConsumptionContainsWarmWater" type="ns1:YesNotApplicableType"/>

                    <xs:element minOccurs="0" name="buildingEnergyRatingType" type="ns1:BuildingEnergyRatingType"/>

                    <xs:element minOccurs="0" name="additionalArea" type="xs:double"/>

                    <xs:element minOccurs="0" name="numberOfFloors" type="xs:string"/>

                    <xs:element minOccurs="0" name="additionalCosts" type="ns1:Price"/>

                </xs:sequence>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

</xs:schema>
