data/xml-schema/Garage-GarageBuy.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.invalid/tns"
           xmlns:gis="http://example.invalid/gis"
           xmlns:ns1="http://example.invalid/ns1">

    <xs:complexType name="GarageBuy">

        <xs:complexContent>

            <xs:extension base="tns:RealEstate">

                <xs:sequence>

                    <!-- Basiselemente -->

                    <xs:element minOccurs="0" name="externalId" type="xs:string"/>

                    <xs:element name="title" type="xs:string"/>

                    <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>

                    <xs:element minOccurs="0" name="lastModificationDate" type="xs:dateTime"/>

                    <xs:element name="address" type="tns:Wgs84Address"/>

                    <xs:element minOccurs="0" name="apiSearchData" type="tns:ApiSearchData"/>

                    <xs:element minOccurs="0" name="groupNumber" type="xs:string"/>

                    <xs:element minOccurs="0" name="descriptionNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="furnishingNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="locationNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="otherNote" type="xs:string"/>

                    <xs:element default="false" name="showAddress" type="xs:boolean"/>

                    <!-- Immobilientyp spezifische Elemente -->

                    <xs:element name="price" type="ns1:Price"/>

                    <xs:element minOccurs="0" name="usableFloorSpace" type="xs:double"/>

                    <xs:element name="courtage" type="ns1:CourtageInfo"/>

                    <xs:element name="garageType" type="ns1:GarageType"/>

                    <xs:element minOccurs="0" name="constructionYear" type="xs:string"/>

                    <xs:element minOccurs="0" name="lengthGarage" type="xs:double"/>

                    <xs:element minOccurs="0" name="widthGarage" type="xs:double"/>

                    <xs:element minOccurs="0" name="heightGarage" type="xs:double"/>

                    <xs:element minOccurs="0" name="condition" type="ns1:RealEstateCondition"/>

                    <xs:element minOccurs="0" name="lastRefurbishment" type="xs:int"/>

                </xs:sequence>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

</xs:schema>
