data/xml-schema/Miscellaneous-HouseType.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.invalid/tns"
           xmlns:gis="http://example.invalid/gis"
           xmlns:ns1="http://example.invalid/ns1">

    <xs:complexType name="HouseType">

        <xs:complexContent>

            <xs:extension base="tns:RealEstate">

                <xs:sequence>

                    <!-- Basiselemente -->

                    <xs:element minOccurs="0" name="externalId" type="xs:string"/>

                    <xs:element name="title" type="xs:string"/>

                    <xs:element minOccurs="0" name="creationDate" type="xs:dateTime"/>

                    <xs:element minOccurs="0" name="lastModificationDate" type="xs:dateTime"/>

                    <xs:element name="address" type="tns:Wgs84Address"/>

                    <xs:element minOccurs="0" name="apiSearchData" type="tns:ApiSearchData"/>

                    <xs:element minOccurs="0" name="groupNumber" type="xs:string"/>

                    <xs:element minOccurs="0" name="descriptionNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="furnishingNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="locationNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="otherNote" type="xs:string"/>

                    <xs:element default="false" name="showAddress" type="xs:boolean"/>

                    <!-- Immobilientyp spezifische Elemente -->

                    <xs:element name="price" type="ns1:Price"/>

                    <xs:element name="livingSpace" type="xs:double"/>

                    <xs:element minOccurs="0" name="totalArea" type="xs:double"/>

                    <xs:element minOccurs="0" name="baseArea" type="xs:double"/>

                    <xs:element minOccurs="0" name="numberOfRooms" type="xs:double"/>

                    <xs:element name="courtage" type="ns1:CourtageInfo"/>

                    <xs:element minOccurs="0" name="constructionMethod" type="ns1:HouseTypeConstructionMethodType"/>

                    <xs:element name="buildingType" type="ns1:HouseTypeBuildingType"/>

                    <xs:element minOccurs="0" name="stageOfCompletionType" type="ns1:HouseTypeStageOfCompletionType"/>

                    <xs:element minOccurs="0" name="energyStandardType" type="ns1:HouseTypeEnergyStandardType"/>

                    <xs:element minOccurs="0" name="uValue" type="xs:double"/>

                    <xs:element minOccurs="0" name="typeInformationNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="modelInformationNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="contructionPriceInformationNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="floorInformationNote" type="xs:string"/>

                    <xs:element minOccurs="0" name="roofInformationNote" type="xs:string"/>

                </xs:sequence>

            </xs:extension>

        </xs:complexContent>

    </xs:complexType>

</xs:schema>
